In [15]:
import numpy as np
import pandas as pd

In [16]:
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data", header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [17]:
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
4596,0.31,0.0,0.62,0.0,0.00,0.31,0.0,0.0,0.0,0.0,...,0.000,0.232,0.0,0.000,0.0,0.0,1.142,3,88,0
4597,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.353,0.0,0.0,1.555,4,14,0
4598,0.30,0.0,0.30,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.102,0.718,0.0,0.000,0.0,0.0,1.404,6,118,0
4599,0.96,0.0,0.00,0.0,0.32,0.00,0.0,0.0,0.0,0.0,...,0.000,0.057,0.0,0.000,0.0,0.0,1.147,5,78,0
4600,0.00,0.0,0.65,0.0,0.00,0.00,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.125,0.0,0.0,1.250,5,40,0

In [18]:
data.shape

(4601, 58)

In [19]:
data.iloc[:, -1].value_counts()

0    2788
1    1813
Name: 57, dtype: int64

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4601 non-null   float64
 1   1       4601 non-null   float64
 2   2       4601 non-null   float64
 3   3       4601 non-null   float64
 4   4       4601 non-null   float64
 5   5       4601 non-null   float64
 6   6       4601 non-null   float64
 7   7       4601 non-null   float64
 8   8       4601 non-null   float64
 9   9       4601 non-null   float64
 10  10      4601 non-null   float64
 11  11      4601 non-null   float64
 12  12      4601 non-null   float64
 13  13      4601 non-null   float64
 14  14      4601 non-null   float64
 15  15      4601 non-null   float64
 16  16      4601 non-null   float64
 17  17      4601 non-null   float64
 18  18      4601 non-null   float64
 19  19      4601 non-null   float64
 20  20      4601 non-null   float64
 21  21      4601 non-null   float64
 22  22      4601 non-null   float64
 23  23      4601 non-null   float64
 24  24      4601 non-null   float64
 25  25      4601 non-null   float64
 26  26      4601 non-null   float64
 27  27      4601 non-null   float64
 28  28      4601 non-null   float64
 29  29      4601 non-null   float64
 30  30      4601 non-null   float64
 31  31      4601 non-null   float64
 32  32      4601 non-null   float64
 33  33      4601 non-null   float64
 34  34      4601 non-null   float64
 35  35      4601 non-null   float64
 36  36      4601 non-null   float64
 37  37      4601 non-null   float64
 38  38      4601 non-null   float64
 39  39      4601 non-null   float64
 40  40      4601 non-null   float64
 41  41      4601 non-null   float64
 42  42      4601 non-null   float64
 43  43      4601 non-null   float64
 44  44      4601 non-null   float64
 45  45      4601 non-null   float64
 46  46      4601 non-null   float64
 47  47      4601 non-null   float64
 48  48      4601 non-null   float64
 49  49      4601 non-null   float64
 50  50      4601 non-null   float64
 51  51      4601 non-null   float64
 52  52      4601 non-null   float64
 53  53      4601 non-null   float64
 54  54      4601 non-null   float64
 55  55      4601 non-null   int64
 56  56      4601 non-null   int64
 57  57      4601 non-null   int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [21]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

In [25]:
y = data.iloc[:,-1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: 57, dtype: int64

In [27]:
x = data.iloc[:,1:57]
x.head()

,1,2,3,4,5,6,7,8,9,10,...,47,48,49,50,51,52,53,54,55,56
0,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278
1,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,0.21,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
2,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,0.38,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,0.31,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,0.31,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191

In [28]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)
x[0:5]

array([[ 3.30884903e-01,  7.12858774e-01, -4.68995838e-02,
         1.15647106e-02, -3.50266176e-01, -2.91793886e-01,
        -2.62561558e-01, -3.23302359e-01, -3.71364386e-01,
        -2.96859527e-01,  1.14087333e-01, -3.12055206e-01,
        -1.74927167e-01, -1.90114405e-01,  8.61714363e-02,
        -3.21135414e-01,  2.08120664e+00,  1.50905374e-01,
        -1.67893113e-01,  1.25128398e-01, -1.18171509e-01,
        -2.90209203e-01, -2.12994388e-01, -3.28814669e-01,
        -2.99239934e-01, -2.27894812e-01, -2.31830156e-01,
        -1.66731450e-01, -2.25239518e-01, -1.60539307e-01,
        -1.43212021e-01, -1.74920257e-01, -1.45215148e-01,
        -1.98067390e-01, -2.42130222e-01, -3.23455613e-01,
        -5.98362369e-02, -1.80911344e-01, -1.85303849e-01,
        -1.20904684e-01, -1.72599962e-01, -2.05993114e-01,
        -1.27343320e-01, -2.97776209e-01, -1.97387481e-01,
        -7.13879045e-02, -1.11546231e-01, -1.58453362e-01,
        -5.14306549e-01, -1.55197675e-01,  6.24006575e-01,
        -3.08354941e-01, -1.03048405e-01, -4.52472762e-02,
         4.52979198e-02, -8.72413388e-03],
       [ 5.19091945e-02,  4.35129540e-01, -4.68995838e-02,
        -2.56117291e-01,  6.72399288e-01,  2.44743253e-01,
        -8.80100968e-02, -3.23302359e-01,  1.08671130e+00,
         7.45206389e-01,  2.88181065e-01,  1.84739108e+00,
         4.51662800e-01,  3.50811841e-01, -1.31824898e-01,
        -1.63480267e-01,  1.79366806e-01,  1.01837040e+00,
        -1.67893113e-01,  6.49831368e-01, -1.18171509e-01,
         9.37491084e-01,  7.58565079e-01, -3.28814669e-01,
        -2.99239934e-01, -2.27894812e-01, -2.31830156e-01,
        -1.66731450e-01, -2.25239518e-01, -1.60539307e-01,
        -1.43212021e-01, -1.74920257e-01, -1.45215148e-01,
        -1.98067390e-01, -2.42130222e-01, -1.58129407e-01,
        -5.98362369e-02, -1.80911344e-01, -1.85303849e-01,
        -1.20904684e-01, -1.72599962e-01, -2.05993114e-01,
        -1.27343320e-01, -2.97776209e-01, -1.97387481e-01,
        -7.13879045e-02, -1.11546231e-01, -1.58453362e-01,
        -2.60072223e-02, -1.55197675e-01,  1.26203155e-01,
         4.23783059e-01,  8.76270901e-03, -2.44326749e-03,
         2.50562832e-01,  1.22832407e+00],
       [-1.65071912e-01,  8.51723390e-01, -4.68995838e-02,
         1.36484594e+00,  3.43685389e-01,  1.93644478e-01,
         3.66695187e-02,  1.97401680e+00,  1.64216998e-02,
         1.58878356e+00, -1.06431396e-01,  8.66118008e-02,
        -1.74927167e-01,  6.57146368e+00, -2.28712158e-01,
        -1.86002431e-01,  1.59162411e+00, -1.70169343e-01,
         4.59913023e-01, -2.49659438e-01, -1.18171509e-01,
         3.02172646e+00, -7.74279511e-02, -3.28814669e-01,
        -2.99239934e-01, -2.27894812e-01, -2.31830156e-01,
        -1.66731450e-01, -2.25239518e-01, -1.60539307e-01,
        -1.43212021e-01, -1.74920257e-01, -1.45215148e-01,
        -1.98067390e-01, -2.42130222e-01, -3.23455613e-01,
        -5.98362369e-02, -1.80911344e-01, -1.38154797e-02,
        -1.20904684e-01, -1.72599962e-01,  3.30229979e-01,
        -1.27343320e-01, -2.38462896e-01, -1.31527239e-01,
        -7.13879045e-02, -1.11546231e-01, -1.17376299e-01,
         1.46843883e-02, -1.55197675e-01,  8.49594212e-03,
         4.40052793e-01, -7.97544228e-02,  1.45920848e-01,
         2.22110599e+00,  3.25873251e+00],
       [-1.65071912e-01, -5.56760578e-01, -4.68995838e-02,
         4.72572602e-01, -3.50266176e-01,  5.00237130e-01,
         1.30840160e+00,  7.89461606e-01,  6.05856550e-01,
         1.24142825e+00, -2.68918880e-01,  7.17834562e-01,
        -1.74927167e-01, -1.90114405e-01,  7.40605288e-02,
        -3.21135414e-01, -3.47875919e-01,  8.55016597e-01,
        -1.67893113e-01, -4.16231809e-01, -1.18171509e-01,
        -2.90209203e-01, -2.12994388e-01, -3.28814669e-01,
        -2.99239934e-01, -2.27894812e-01, -2.31830156e-01,
        -1.66731450e-01, -2.25239518e-01, -1.60539307e-01,
        -1.43212021e-01, -1.74920257e-01, -1.45215148e-01,
        -1.98067390e-01, -2.42130222e-01, -3.23455613e-01,
        -5.98362369e-02, -1.80911344e-01, -1.85303849e-01,
        -1.20904684e-01, -1.72599962e-01, -2.05993114e-01,
        -1.27343320e-01, -2.97776209e-01, -1.97387481e-01,
        -7.13879045e-02, -1.11546231e-01, -1.58453362e-01,
        -7.51103566e-03, -1.55197675e-01, -1.61934293e-01,
        -3.08354941e-01, -1.03048405e-01, -5.21501318e-02,
        -6.24661593e-02, -1.52221725e-01],
       [-1.65071912e-01, -5.56760578e-01, -4.68995838e-02,
         4.72572602e-01, -3.50266176e-01,  5.00237130e-01,
         1.30840160e+00,  7.89461606e-01,  6.05856550e-01,
         1.24142825e+00, -2.68918880e-01,  7.17834562e-01,
        -1.74927167e-01, -1.90114405e-01,  7.40605288e-02,
        -3.21135414e-01, -3.47875919e-01,  8.55016597e-01,
        -1.67893113e-01, -4.16231809e-01, -1.18171509e-01,
        -2.90209203e-01, -2.12994388e-01, -3.28814669e-01,
        -2.99239934e-01, -2.27894812e-01, -2.31830156e-01,
        -1.66731450e-01, -2.25239518e-01, -1.60539307e-01,
        -1.43212021e-01, -1.74920257e-01, -1.45215148e-01,
        -1.98067390e-01, -2.42130222e-01, -3.23455613e-01,
        -5.98362369e-02, -1.80911344e-01, -1.85303849e-01,
        -1.20904684e-01, -1.72599962e-01, -2.05993114e-01,
        -1.27343320e-01, -2.97776209e-01, -1.97387481e-01,
        -7.13879045e-02, -1.11546231e-01, -1.58453362e-01,
        -1.49095103e-02, -1.55197675e-01, -1.64386527e-01,
        -3.08354941e-01, -1.03048405e-01, -5.21501318e-02,
        -6.24661593e-02, -1.52221725e-01]])

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [30]:
x_train.shape

(3680, 56)

In [31]:
x_test.shape

(921, 56)

In [32]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1)
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [36]:
y_test[0:20]

3332    0
4121    0
2884    0
4099    0
3085    0
1908    0
1578    1
2425    0
1566    1
1775    1
2014    0
1672    1
4340    0
2212    0
2039    0
577     1
229     1
4572    0
3532    0
2918    0
Name: 57, dtype: int64

In [37]:
pred = model.predict(x_test)
pred[0:20]

array([1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1],
      dtype=int64)

In [38]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,pred)
accuracy

0.9174809989142236

In [39]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,pred)
cm

array([[507,  34],
       [ 42, 338]], dtype=int64)

In [40]:
result = pd.DataFrame(data=[y_test.values,pred], index = ['y_test','pred'])
result.transpose()

     y_test  pred
0         0     1
1         0     0
2         0     1
3         0     0
4         0     0
..      ...   ...
916       0     0
917       0     0
918       0     0
919       0     0
920       1     1

[921 rows x 2 columns]

In [44]:
correct_sum = [] 
for i in range(1,50):
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(x_train,y_train)
    pred = model.predict(x_test)
    correct = np.sum(pred == y_test)
    correct_sum.append(correct)

In [45]:
correct_sum

[845,
 831,
 842,
 834,
 844,
 840,
 841,
 840,
 844,
 846,
 845,
 844,
 851,
 843,
 847,
 834,
 838,
 830,
 832,
 828,
 832,
 827,
 828,
 825,
 830,
 822,
 823,
 819,
 820,
 816,
 817,
 813,
 817,
 813,
 819,
 813,
 816,
 816,
 818,
 814,
 815,
 817,
 820,
 816,
 816,
 814,
 814,
 811,
 812]

In [46]:
result = pd.DataFrame(data=correct_sum)
result.index = result.index+1
result.T

,1,2,3,4,5,6,7,8,9,10,...,40,41,42,43,44,45,46,47,48,49
0,845,831,842,834,844,840,841,840,844,846,...,814,815,817,820,816,816,814,814,811,812

In [47]:
model = KNeighborsClassifier(n_neighbors=13)
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [48]:
accuracy_score(y_test,pred)

0.9239956568946797

In [49]:
confusion_matrix(y_test,pred)

array([[515,  26],
       [ 44, 336]], dtype=int64)